h1{
	font-family:Comic Sans MS;
	color:green;
	height:50%;
	font-size:50px;
	text-align:center;
}
.bpl{
	text-align:center;
}
div.x{
	font-family:Comic Sans MS;
	font-size:20px;
}
div.y{
	font-family:Comic Sans MS;
	font-size:20px;
	text-align:center;
}

div.list{
	font-family:Comic Sans MS;
	font-size:20px;
	text-align:center;
}
	
